# Lambdas, udef, filter, map

The goverment made a socilogical study of citizens at mid-40's. They gathered the following data:

In [3]:
citizens = [{ 'First Name': 'Preston' , 'Last Name': 'Cunningham', 'Age': 49 , 'Education': 'Doctoral', 'Occupation':' Teacher' ,'Experience (Years)': 6, 'Salary': 62499}, 
 { 'First Name': 'Madaline', 'Last Name': 'Farrell', 'Age': 41, 'Education': 'Bachelor', 'Occupation': 'Insurer','Experience (Years)': 16, 'Salary': 50190},
 { 'First Name': 'Eleanor', 'Last Name': 'Carter', 'Age': 49, 'Education': 'Lower secondary', 'Occupation': 'Programmer','Experience (Years)': 18, 'Salary': 189716},
 { 'First Name': 'Adison', 'Last Name': 'Hall', 'Age': 42 , 'Education': 'Bachelor', 'Occupation': 'Florist','Experience (Years)': 21, 'Salary': 34517},
 { 'First Name': 'Grace', 'Last Name': 'Cooper', 'Age': 49, 'Education': 'Master', 'Occupation': 'Singer','Experience (Years)': 9, 'Salary': 51994},
 { 'First Name': 'Alford', 'Last Name': 'Kelley', 'Age': 49, 'Education': 'Bachelor', 'Occupation': 'Aeroplane Pilot','Experience (Years)': 9, 'Salary': 170466},
 { 'First Name': 'Vincent', 'Last Name': 'Anderson', 'Age': 47, 'Education': 'Master', 'Occupation': 'Botanist','Experience (Years)': 6, 'Salary': 71617},
 { 'First Name': 'Myra', 'Last Name': 'Wright', 'Age': 45, 'Education': 'Master', 'Occupation': 'Geologist' ,'Experience (Years)': 18, 'Salary': 48786},
 { 'First Name': 'Chester', 'Last Name':'Bennett', 'Age': 42, 'Education': 'Doctoral', 'Occupation': 'Astronomer','Experience (Years)': 13, 'Salary': 44826},
 { 'First Name': 'Blake', 'Last Name': 'Tucker', 'Age': 42, 'Education': 'Doctoral', 'Occupation': 'Firefighter','Experience (Years)': 21, 'Salary': 36761},
 { 'First Name': 'Paige', 'Last Name': 'Ryan', 'Age': 43, 'Education': 'Primary', 'Occupation': 'Fine Artist','Experience (Years)': 19, 'Salary': 28181},
 { 'First Name': 'Natalie', 'Last Name': 'Ellis', 'Age': 45, 'Education': 'Bachelor', 'Occupation': 'Baker','Experience (Years)': 0, 'Salary': 31194},
 { 'First Name': 'Martin', 'Last Name': 'Thompson', 'Age': 47, 'Education': 'Bachelor', 'Occupation': 'Journalist','Experience (Years)': 21, 'Salary': 90183},
 { 'First Name': 'Alan', 'Last Name': 'Sullivan', 'Age': 46, 'Education': 'Doctoral', 'Occupation': 'Singer','Experience (Years)': 2, 'Salary': 18440},
 { 'First Name': 'Inga', 'Last Name': 'Bergman', 'Age': 41, 'Education': 'Bachelor', 'Occupation': 'Producer','Experience (Years)': 22, 'Salary': 80029},
 { 'First Name': 'Freddy', 'Last Name': 'Brown', 'Age': 48, 'Education': 'Bachelor', 'Occupation': 'Economist','Experience (Years)': 18, 'Salary': 146217},
 { 'First Name': 'Adelaide', 'Last Name': 'Farrell', 'Age': 42, 'Education': 'Bachelor', 'Occupation': 'Mechanic','Experience (Years)': 9, 'Salary':19414},
 { 'First Name': 'Luke', 'Last Name': 'Cooper', 'Age': 40, 'Education': 'Upper secondary', 'Occupation': 'Producer','Experience (Years)': 17, 'Salary': 160541},
 { 'First Name': 'Sofia', 'Last Name': 'Hall', 'Age': 41, 'Education': 'Doctoral', 'Occupation': 'Baker','Experience (Years)': 1, 'Salary': 25904},
 { 'First Name': 'Ashton', 'Last Name': 'Kelly', 'Age': 49, 'Education': 'Master', 'Occupation': 'Chef','Experience (Years)': 6, 'Salary': 95533}
]

The goverment wants to know some things about this sample of citizens.

## Exercise 1:

1. Create a user defined function to compute the mean of a list of numbers.
2. Use python code to store the ages of the citizens inside a list.
3. Use your function to compute the mean age (round the mean age to one decimal) using `round()`

Expected result:

```python
"The mean age of the citizens is: average_age years"
```

replacing `average_age` by the correspoding value.

In [8]:
def mean(numbers):
    return float(sum(numbers)) / max(len(numbers), 1)

ages = [citizen['Age'] for citizen in citizens]
print(f"The ages are: {ages}")

print(f"The mean age of the citizens is: {round(mean(ages),1)}")

The ages are: [49, 41, 49, 42, 49, 49, 47, 45, 42, 42, 43, 45, 47, 46, 41, 48, 42, 40, 41, 49]
The mean of age is: 44.9

# Exercise 2:

1. What are the unique educational levels?  
2. How many unique educational levels are?
3. What are the unique ocupations?
4. How many unique ocupations are?

In [9]:
# 1.What are the unique educational levels?
educational_levels = [citizen['Education'] for citizen in citizens]
educational_levels = set(educational_levels)
print(f"The educational levels are: {educational_levels}")
# 2.How many unique educational levels are?
print(f"The number of unique educational levels is: {len(educational_levels)}")
# 3.What are the unique ocupations?
ocupations = [citizen['Occupation'] for citizen in citizens]
ocupations = set(ocupations)
print(f"The ocupations are: {ocupations}")
# 4.How many unique ocupations are?
print(f"The number of unique ocupations is: {len(ocupations)}")

The educational levels are: {'Lower secondary', 'Bachelor', 'Upper secondary', 'Doctoral', 'Primary', 'Master'}
The number of unique educational levels is: 6
The ocupations are: {'Insurer', 'Florist', 'Chef', 'Programmer', 'Botanist', 'Astronomer', 'Mechanic', ' Teacher', 'Producer', 'Baker', 'Economist', 'Singer', 'Journalist', 'Fine Artist', 'Geologist', 'Aeroplane Pilot', 'Firefighter'}
The number of unique ocupations is: 17

# Exercise 3:

1. Provide a new list in which avery element is another dictionary which only contains:

* 'First Name'
* 'Last Name'
* and at which age they started working?
   ( substract from the age the years of experience )

Expected output:

```python
[{ 'First Name': name, 'Last Name': last_name,'Starting age': 27},
 ...
]
```

In [13]:
def starting_age(citizen):
    return citizen['Age'] - citizen['Experience (Years)']

def starting_age_dict(citizen):
    return {'First Name': citizen['First Name'], 'Last Name': citizen['Last Name'], 'Starting_age': starting_age(citizen)}

starting_age_list = list(map(starting_age_dict, citizens))
print(starting_age_list)

[{'First Name': 'Preston', 'Last Name': 'Cunningham', 'Starting_age': 43}, {'First Name': 'Madaline', 'Last Name': 'Farrell', 'Starting_age': 25}, {'First Name': 'Eleanor', 'Last Name': 'Carter', 'Starting_age': 31}, {'First Name': 'Adison', 'Last Name': 'Hall', 'Starting_age': 21}, {'First Name': 'Grace', 'Last Name': 'Cooper', 'Starting_age': 40}, {'First Name': 'Alford', 'Last Name': 'Kelley', 'Starting_age': 40}, {'First Name': 'Vincent', 'Last Name': 'Anderson', 'Starting_age': 41}, {'First Name': 'Myra', 'Last Name': 'Wright', 'Starting_age': 27}, {'First Name': 'Chester', 'Last Name': 'Bennett', 'Starting_age': 29}, {'First Name': 'Blake', 'Last Name': 'Tucker', 'Starting_age': 21}, {'First Name': 'Paige', 'Last Name': 'Ryan', 'Starting_age': 24}, {'First Name': 'Natalie', 'Last Name': 'Ellis', 'Starting_age': 45}, {'First Name': 'Martin', 'Last Name': 'Thompson', 'Starting_age': 26}, {'First Name': 'Alan', 'Last Name': 'Sullivan', 'Starting_age': 44}, {'First Name': 'Inga', 'Last Name': 'Bergman', 'Starting_age': 19}, {'First Name': 'Freddy', 'Last Name': 'Brown', 'Starting_age': 30}, {'First Name': 'Adelaide', 'Last Name': 'Farrell', 'Starting_age': 33}, {'First Name': 'Luke', 'Last Name': 'Cooper', 'Starting_age': 23}, {'First Name': 'Sofia', 'Last Name': 'Hall', 'Starting_age': 40}, {'First Name': 'Ashton', 'Last Name': 'Kelly', 'Starting_age': 43}]

# Exercise 4:

1. Can you provide a dictionary which contains **unique** `Education` levels and the corresponding mean salary?
2. Do the same but by `Occupation`

Expected outputs:

```python
{'Doctoral': mean_salary_doctorals,
 'Bachelor': mean_salaty_bachelors,
...}
```

```python
{'Teacher': mean_salary_teachers,
 'Insurer': mean_salaty_insurers,
...}
````

**CAVEAT!!** The statement says: UNIQUE!!!

In [18]:
def mean_salary(citizen):
    return citizen['Salary']

def mean_salary_dict(citizen):
    return {'Education': citizen['Education'], 'Mean_salary': mean_salary(citizen)}

final_dict = {}
for citizen in citizens:
    if citizen['Education'] not in final_dict:
        final_dict[citizen['Education']] = []
    final_dict[citizen['Education']].append(mean_salary(citizen))

for key in final_dict:
    final_dict[key] = round(sum(final_dict[key]) / len(final_dict[key]))

print(final_dict)

final_dict_2 = {}
for citizen in citizens:
    if citizen['Occupation'] not in final_dict_2:
        final_dict_2[citizen['Occupation']] = []
    final_dict_2[citizen['Occupation']].append(mean_salary(citizen))

for key in final_dict_2:
    final_dict_2[key] = round(sum(final_dict_2[key]) / len(final_dict_2[key]))

print(final_dict_2)

{'Doctoral': 37686, 'Bachelor': 77776, 'Lower secondary': 189716, 'Master': 66982, 'Primary': 28181, 'Upper secondary': 160541}
{' Teacher': 62499, 'Insurer': 50190, 'Programmer': 189716, 'Florist': 34517, 'Singer': 35217, 'Aeroplane Pilot': 170466, 'Botanist': 71617, 'Geologist': 48786, 'Astronomer': 44826, 'Firefighter': 36761, 'Fine Artist': 28181, 'Baker': 28549, 'Journalist': 90183, 'Producer': 120285, 'Economist': 146217, 'Mechanic': 19414, 'Chef': 95533}

# Exercise 5:

1. Use a `lambda` function and `filter` to keep only citizens with 'Doctoral' educational level.
2. Use a user defined function to obtain the same output

The output in both cases should be:

```python
[{'First Name': 'Preston',
  'Last Name': 'Cunningham',
  'Age': 49,
  'Education': 'Doctoral',
  'Occupation': ' Teacher',
  'Experience (Years)': 6,
  'Salary': 62499},
 {'First Name': 'Chester',
  'Last Name': 'Bennett',
  'Age': 42,
  'Education': 'Doctoral',
  'Occupation': 'Astronomer',
  'Experience (Years)': 13,
  'Salary': 44826},
 {'First Name': 'Blake',
  'Last Name': 'Tucker',
  'Age': 42,
  'Education': 'Doctoral',
  'Occupation': 'Firefighter',
  'Experience (Years)': 21,
  'Salary': 36761},
 {'First Name': 'Alan',
  'Last Name': 'Sullivan',
  'Age': 46,
  'Education': 'Doctoral',
  'Occupation': 'Singer',
  'Experience (Years)': 2,
  'Salary': 18440},
 {'First Name': 'Sofia',
  'Last Name': 'Hall',
  'Age': 41,
  'Education': 'Doctoral',
  'Occupation': 'Baker',
  'Experience (Years)': 1,
  'Salary': 25904}]
```

In [19]:
# 1. Use a lambda function and filter to keep only citizens with 'Doctoral' educational level.
print(list(filter(lambda citizen: citizen['Education'] == 'Doctoral', citizens)))

# 2. Use a user defined function to obtain the same output

def filter_education(citizen):
    return citizen['Education'] == 'Doctoral'

print(list(filter(filter_education, citizens)))

[{'First Name': 'Preston', 'Last Name': 'Cunningham', 'Age': 49, 'Education': 'Doctoral', 'Occupation': ' Teacher', 'Experience (Years)': 6, 'Salary': 62499}, {'First Name': 'Chester', 'Last Name': 'Bennett', 'Age': 42, 'Education': 'Doctoral', 'Occupation': 'Astronomer', 'Experience (Years)': 13, 'Salary': 44826}, {'First Name': 'Blake', 'Last Name': 'Tucker', 'Age': 42, 'Education': 'Doctoral', 'Occupation': 'Firefighter', 'Experience (Years)': 21, 'Salary': 36761}, {'First Name': 'Alan', 'Last Name': 'Sullivan', 'Age': 46, 'Education': 'Doctoral', 'Occupation': 'Singer', 'Experience (Years)': 2, 'Salary': 18440}, {'First Name': 'Sofia', 'Last Name': 'Hall', 'Age': 41, 'Education': 'Doctoral', 'Occupation': 'Baker', 'Experience (Years)': 1, 'Salary': 25904}]
[{'First Name': 'Preston', 'Last Name': 'Cunningham', 'Age': 49, 'Education': 'Doctoral', 'Occupation': ' Teacher', 'Experience (Years)': 6, 'Salary': 62499}, {'First Name': 'Chester', 'Last Name': 'Bennett', 'Age': 42, 'Education': 'Doctoral', 'Occupation': 'Astronomer', 'Experience (Years)': 13, 'Salary': 44826}, {'First Name': 'Blake', 'Last Name': 'Tucker', 'Age': 42, 'Education': 'Doctoral', 'Occupation': 'Firefighter', 'Experience (Years)': 21, 'Salary': 36761}, {'First Name': 'Alan', 'Last Name': 'Sullivan', 'Age': 46, 'Education': 'Doctoral', 'Occupation': 'Singer', 'Experience (Years)': 2, 'Salary': 18440}, {'First Name': 'Sofia', 'Last Name': 'Hall', 'Age': 41, 'Education': 'Doctoral', 'Occupation': 'Baker', 'Experience (Years)': 1, 'Salary': 25904}]

# Exercise 6:

1. Use a `lambda` function alongside with `map()` to get a list of strings with the following pattern:

"First Name is number_of_years years old"

The expected output should be:

```python
['Preston Cunningham is 49 years old',
 'Madaline Farrell is 41 years old',
 'Eleanor Carter is 49 years old',
 'Adison Hall is 42 years old',
 'Grace Cooper is 49 years old',
 'Alford Kelley is 49 years old',
 'Vincent Anderson is 47 years old',
 'Myra Wright is 45 years old',
 'Chester Bennett is 42 years old',
 'Blake Tucker is 42 years old',
 'Paige Ryan is 43 years old',
 'Natalie Ellis is 45 years old',
 'Martin Thompson is 47 years old',
 'Alan Sullivan is 46 years old',
 'Inga Bergman is 41 years old',
 'Freddy Brown is 48 years old',
 'Adelaide Farrell is 42 years old',
 'Luke Cooper is 40 years old',
 'Sofia Hall is 41 years old',
 'Ashton Kelly is 49 years old']
```

Hint: use `str()` to cast an integer into a string.

In [21]:
def create_list(citizens):
    return list(map(lambda citizen: f"{citizen['First Name']} {citizen['Last Name']} is a {str(citizen['Age'])} years old", citizens))

print(create_list(citizens))

['Preston Cunningham is a 49 years old', 'Madaline Farrell is a 41 years old', 'Eleanor Carter is a 49 years old', 'Adison Hall is a 42 years old', 'Grace Cooper is a 49 years old', 'Alford Kelley is a 49 years old', 'Vincent Anderson is a 47 years old', 'Myra Wright is a 45 years old', 'Chester Bennett is a 42 years old', 'Blake Tucker is a 42 years old', 'Paige Ryan is a 43 years old', 'Natalie Ellis is a 45 years old', 'Martin Thompson is a 47 years old', 'Alan Sullivan is a 46 years old', 'Inga Bergman is a 41 years old', 'Freddy Brown is a 48 years old', 'Adelaide Farrell is a 42 years old', 'Luke Cooper is a 40 years old', 'Sofia Hall is a 41 years old', 'Ashton Kelly is a 49 years old']